<div id="map" style="width: 100vw; height: 100%;"></div>
<button class='meal-btn', onclick='itadakimasu()'>
  <%= icon('fas', 'praying-hands')%>
</button>

<script type=text/javascript>
    function itadakimasu() {
        navigator.geolocation.getCurrentPosition( position => {
            let lng = position.coords.longitude;
            let lat = position.coords.latitude;
            $.ajax({
                url: '/actions',
                type: 'POST',
                data: {
                    'pref_id': '13',
                    'lat': lat,
                    'lng': lng
                },
                headers: {
                    'X-CSRF-Token' : $('meta[name="csrf-token"]').attr('content')
                }
            });
        }, err => { console.log(err.message) });
    }
</script>