<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="tabs">
              <ul>
                <li class="login is-active"><a>ログイン</a></li>
                <li class="regist"><a>新規登録</a></li>
              </ul>
            </div>
            <div id="login-form">
              LoginForm
            </div>
            <div id="regist-form">
              RegistForm
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <h2 class="title is-5">おいしいご飯パワーとは？</h2>
              <p>
                1人で食事をすると寂しさがありますよね。
              </p>
              <p>
                いただきます。ごちそうさまでした。
              </p>
              <p>
                そんなときに、呟くとリアルタイムで、日本地図にポップアップが出て一緒に食べてる感覚がするサイトです。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>