/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@font-face {
  font-family: "Yomogi";
  src: image-url('/fonts/Yomogi-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 52px 0 0;
  margin: 0;
  height: 100vh;
  font-family: 'Yomogi', serif;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content > p {
  font-size: 20px;
}

#login-form {
  display: block;
}

#regist-form {
  display: none;
}

.midnight-1 {
  background-image: image-url("midnight/1.jpg");
}

.midnight-2 {
  background-image: image-url("midnight/2.jpg");
}

.midnight-3 {
  background-image: image-url("midnight/3.jpg");
}

.morning-1 {
  background-image: image-url("morning/1.jpg");
}

.morning-2 {
  background-image: image-url("morning/2.jpg");
}

.morning-3 {
  background-image: image-url("morning/3.jpg");
}

.lunch-1 {
  background-image: image-url("lunch/1.jpg");
}

.lunch-2 {
  background-image: image-url("lunch/2.jpg");
}

.lunch-3 {
  background-image: image-url("lunch/3.jpg");
}

.dinner-1 {
  background-image: image-url("dinner/1.jpg");
}

.dinner-2 {
  background-image: image-url("dinner/2.jpg");
}

.dinner-3 {
  background-image: image-url("dinner/3.jpg");
}

// 位置コントローラー削除
.mapboxgl-ctrl {
  display: none!important;
}

.meal-btn {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 2rem;
  bottom: 3rem;
  border-radius: 50%;
  font-size: 2.6em;
  color: white;
  background-color: #f8aa4b;
}

.modal-card {
  padding: 0 20px;
}

.button.is-info {
  background-color: #3e8ed0d1;
}
